@font-face {
    font-family: 'Futura Bk';
    src: url('../fonts/Futura-Book.woff2') format('woff2'),
        url('../fonts/Futura-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Medium.woff2') format('woff2'),
        url('../fonts/Futura-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Light.woff2') format('woff2'),
        url('../fonts/Futura-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Heavy.woff2') format('woff2'),
        url('../fonts/Futura-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura MdCn BT';
    src: url('../fonts/FuturaBT-MediumCondensed.woff2') format('woff2'),
        url('../fonts/FuturaBT-MediumCondensed.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Condensed';
    src: url('../fonts/FuturaCondMedium.woff2') format('woff2'),
        url('../fonts/FuturaCondMedium.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Always In My Heart';
    src: local('Always In My Heart'),
    url('../fonts/AlwaysInMyHeart.woff') format('woff2'),
    url('../fonts/AlwaysInMyHeart.woff') format('woff');
    url('../fonts/AlwaysInMyHeart.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Ultralight.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Ultralight.woff') format('woff');
    url('../fonts/SFProDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-LightItalic.woff') format('woff');

    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Medium.woff2') format('woff2'),
        url('../fonts/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-LightItalic.woff2') format('woff2'),
        url('../fonts/SFProText-LightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Heavy.woff2') format('woff2'),
        url('../fonts/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-ThinItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-HeavyItalic.woff2') format('woff2'),
        url('../fonts/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BlackItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/SFProText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Semibold.woff2') format('woff2'),
        url('../fonts/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Light.woff2') format('woff2'),
        url('../fonts/SFProText-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-RegularItalic.woff2') format('woff2'),
        url('../fonts/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SFProDisplay-UltralightItalic.woff2') format('woff2'),
        url('../fonts/SFProDisplay-UltralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Regular.woff2') format('woff2'),
        url('../fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-MediumItalic.woff2') format('woff2'),
        url('../fonts/SFProText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SFProText-Bold.woff2') format('woff2'),
        url('../fonts/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/Rockwell-Bold.woff2') format('woff2'),
        url('../fonts/Rockwell-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Rockwell';
    src: url('../fonts/Rockwell.woff2') format('woff2'),
        url('../fonts/Rockwell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Condensed-thin';
    src: url('../fonts/Futura-Condensed-Thin.woff2') format('woff2'),
        url('../fonts/Futura-Condensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Condensed-bold-italic';
    src: url('../fonts/Futura-Condensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/Futura-Condensed-BoldItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Futura-Condensed-italic';
    src: url('../fonts/Futura-Condensed-Italic.woff2') format('woff2'),
        url('../fonts/Futura-Condensed-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Futura-CondensedMedium';
    src: url('../fonts/Futura-CondensedMediumOblique.woff2') format('woff2'),
        url('../fonts/Futura-CondensedMediumOblique.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Futura-CondensedExtraBold';
    src: url('../fonts/Futura-CondExtraBoldObl.woff2') format('woff2'),
        url('../fonts/Futura-CondExtraBoldObl.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Futura-Condensed-Normal';
    src: url('../fonts/Futura-Condensed-Normal.woff2') format('woff2'),
        url('../fonts/Futura-Condensed-Normal.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedLight';
    src: url('../fonts/Futura-CondensedLight-Italic.woff2') format('woff2'),
        url('../fonts/Futura-CondensedLight-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Futura-CondensedExtraBold';
    src: url('../fonts/Futura-CondensedExtraBold-Italic.woff2') format('woff2'),
        url('../fonts/Futura-CondensedExtraBold-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Futura-Condensed-Bold';
    src: url('../fonts/Futura-Condensed-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Condensed-Bold.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedLight-Normal';
    src: url('../fonts/Futura-CondensedLight-Normal.woff2') format('woff2'),
        url('../fonts/Futura-CondensedLight-Normal.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedLight';
    src: url('../fonts/Futura-CondensedLightOblique.woff2') format('woff2'),
        url('../fonts/Futura-CondensedLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Futura-CondensedLight';
    src: url('../fonts/Futura-CondensedLight.woff2') format('woff2'),
        url('../fonts/Futura-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedExtraBold-Th';
    src: url('../fonts/Futura-CondensedExtraBold-Th.woff2') format('woff2'),
        url('../fonts/Futura-CondensedExtraBold-Th.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedExtraBold';
    src: url('../fonts/Futura-CondensedExtraBold.woff2') format('woff2'),
        url('../fonts/Futura-CondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedLight';
    src: url('../fonts/Futura-CondensedLight-Thin.woff2') format('woff2'),
        url('../fonts/Futura-CondensedLight-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: 'Futura-CondensedMedium';
    src: url('../fonts/Futura-CondensedMedium.woff2') format('woff2'),
        url('../fonts/Futura-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noteworthy';
    src: url('../fonts/Noteworthy-Bold.woff2') format('woff2'),
        url('../fonts/Noteworthy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

